/* ------------------------------------------REST----------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* --------------------------------------------------------------------------------- */

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
    background: #000;
    display: flex;
}

#button {
    width: 100px;
    height: 50px;
    margin: auto;
    transition: linear;
    transition-duration: 0.02s;
    white-space: nowrap;
}
